
/* For the break pop up */
.modal {
  display: none; 
  position: fixed; 
  padding-top: 20%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(181,131,141,0.9); 
}

.modal-content {
  background-color: #6D6875;
  margin: auto;
  padding: 20px;
  width: 60%;
  border-radius: 8px;
  text-align: center;
}

/* The Close Button */
.closePopUp {
  color: #ffffff;
  float:top;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

h5{
  color:#ffffff;
}